**/*.db
*.swp
*~
.#*
.DS_Store
.bundle
.dotest
.gradle
.idea
.loadpath
.project
TAGS
\#*
build/
target/
config/*-public.asc
config/database.yml
config/mongrel_cluster.yml
coverage/*
db/*.sql
db/*.sqlite3*
db/schema.rb
doc/**/*
groovy-gradle-seed.iws
groovy-gradle-seed.iws
httpd
lib/products_index_profiler.rb
log/*.log
nbproject
out/
pgsql
pkg
public/assets
public/attachments
public/blank_iframe.html
public/ckeditora
public/dispatch.cgi
public/dispatch.fcgi
public/dispatch.rb
public/google_base.xml
public/template_google_base.xml
rerun.txt
sandbox
spree_dev
spree_test
tags
test_app
testapp
tmp
var
vendor/extensions/google_base
vendor/extensions/theme_default/app/stylesheets/*.css
vendor/rails
